<body   ><div class="d-flex align-items-center justify-content-center ">
  <div class="center">
    
    <div class="profile">
      <div class="image">
        <div class="circle-1"></div>
        <div class="circle-2"></div>
        <img src="assets/image/z.png" width="70" height="70" alt="Jessica Potter">
      </div>
      
      <div class="name">Jessica Potter</div>
      <div class="job">+22234922093</div>
    
    </div>
    
    <div class="stats">
      <div class="box">
        <span class="value">523</span>
        <span class="parameter">Posts</span>
      </div>
     
      <div class="box">
        <span class="value">146</span>
        <span class="parameter">Commands</span>
      </div>
    </div>
  </div>
</div>
  
  
</body>
