
<!-- 
<div class="container d-flex">

<div class="row justify-content-center login-page " >
  <div class="col-md-4"><img src="assets/image/o.jpg"
    class="card-img-top"  style="border-top-right-radius: 12px; border-top-left-radius: 12px;" alt="..."></div>
  <div class="col-"> <i class="bi bi-suit-heart ml-auto "></i>

    <h2> iphone dskkjsdkf</h2>
    <p class="card-text col-md-4  ">Some quick example text to build on the card title and make up the bulk of the card's contentlsksdkksdsdhfkjkhkfhgkdfhgdfhgdfhghdfgdfjgdfjvjsnvvjajfdgjdfgjkdfgjkgfnfnfnnv.</p></div>
</div> 


  </div>

 -->
<body>
  <div class="container">
<div class="wrapper">
  <div class="carda shadow">
    <div class="c-thumb">
      <img class="image" src="assets/image/z.png">
      <span class="client-name">
        Sid ahmed baos mnka lkn
      </span>

    </div>
    <div class="card-body">
      <p class="review">Jérôme Commandeur, né le 12 avril 1976 à Argenteuil, est un humoriste et acteur français. Après s'être fait connaître à la fin des années 1990 en participant à l'émission Graines de star, il anime diverses émissions de radio et de télévision et se produit également en one-man-show et au cinéma.
      </p>
      <div class="rating">
        <img  class="star" src="assets/image/star.png"> 
      </div>
    </div>
  </div>
</div>
  </div>



</body>

 