
<!-- 
<div class="container d-flex">

<div class="row justify-content-center login-page " >
  <div class="col-md-4"><img src="assets/image/o.jpg"
    class="card-img-top"  style="border-top-right-radius: 12px; border-top-left-radius: 12px;" alt="..."></div>
  <div class="col-"> <i class="bi bi-suit-heart ml-auto "></i>

    <h2> iphone dskkjsdkf</h2>
    <p class="card-text col-md-4  ">Some quick example text to build on the card title and make up the bulk of the card's contentlsksdkksdsdhfkjkhkfhgkdfhgdfhgdfhghdfgdfjgdfjvjsnvvjajfdgjdfgjkdfgjkgfnfnfnnv.</p></div>
</div> 


  </div>

 -->


 <body>


       <div class="d-flex align-items-center justify-content-start box-sizing: border-box; ">
        <div class="w">
          
            
              <div class="cd  shadow   ">
               
              
              
                <div class="ct">
                      <img src="assets/image/z.png" class="client-img" alt="">
                    
                  </div>
                  <div class="cb">
                    <span class="client-name ">Sid ahmed med lemine babou</span>
                    <p class="review">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, nam. Fugiat, ut provident. Nulla quibusdam labore ea est consequatur sequi fuga iusto laudantium, earum doloremque? ggdfgdgdfgdgdgdgdgdgdgfdgdg



                      kdfjskfalsfjlsafkajfalfkjlfa
                    </p>
                   <div class="r">
                    <span > 3.5</span>
                   </div>
                      <div class="rating">
                     
                          <img src="assets/image/star.png" class="star" alt="">
                         
                      </div>
                      <div class="ratin">
                        <i class="bi-heart-fill  " style="width: 25px;"></i>
                      </div>
                  </div>
                  
                  
              </div>
            </div>
          </div>
          
           
  
 </body>