
<!-- 
<div class="container d-flex">

<div class="row justify-content-center login-page " >
  <div class="col-md-4"><img src="assets/image/o.jpg"
    class="card-img-top"  style="border-top-right-radius: 12px; border-top-left-radius: 12px;" alt="..."></div>
  <div class="col-"> <i class="bi bi-suit-heart ml-auto "></i>

    <h2> iphone dskkjsdkf</h2>
    <p class="card-text col-md-4  ">Some quick example text to build on the card title and make up the bulk of the card's contentlsksdkksdsdhfkjkhkfhgkdfhgdfhgdfhghdfgdfjgdfjvjsnvvjajfdgjdfgjkdfgjkgfnfnfnnv.</p></div>
</div> 


  </div>

 -->


 <body>


       <!-- <div class="d-flex align-items-center justify-content-start box-sizing: border-box; ">
        <div class="w">
          
            
              <div class="cd  shadow   ">
               
              
              
                <div class="ct">
                      <img src="assets/image/z.png" class="client-img" alt="">
                    
                  </div>
                  <div class="cb">
                    <span class="client-name ">Sid ahmed med lemine babou</span>
                    <p class="review">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, nam. Fugiat, ut provident. Nulla quibusdam labore ea est consequatur sequi fuga iusto laudantium, earum doloremque? ggdfgdgdfgdgdgdgdgdgdgfdgdg



                      kdfjskfalsfjlsafkajfalfkjlfa
                    </p>
                   <div class="r">
                    <span > 3.5</span>
                   </div>
                      <div class="rating">
                     
                          <img src="assets/image/star.png" class="star" alt="">
                         
                      </div>
                      <div class="ratin">
                        <i class="bi-heart-fill  " style="width: 25px;"></i>
                      </div>
                  </div>
                  
                  
              </div>
            </div>
          </div> -->

<div class="container "> 
  <div class="input-group rounded 
  ">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
              <i class="nav-link active" aria-current="page" href="" uk-icon="icon: search"></i>    </span>
          </div></div>
          
          <div class="container mt-5 mb-5">

            <div class="d-flex justify-content-center row">
            

                <div class="col-md-10 ">
                  
                
                   
                  <div class="row p-2 bg-white border rounded shadow">
                    <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="assets/image/z.png"></div>
                    <div class="col-md-6 mt-1">
                        <h5>Sid Ahmed Babou</h5>
                        <div class="d-flex flex-row">
                          <span>3.5</span> <div class="ratings mr-2"><i class="fa fa-star"></i></div>
                        </div>
                     
                        <p class=" para mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.<br><br></p>
                    </div>
                    
                </div>



                <div class="row p-2 bg-white border rounded shadow">
                  <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="assets/image/z.png"></div>
                  <div class="col-md-6 mt-1">
                      <h5>Sid Ahmed Babou</h5>
                      <div class="d-flex flex-row">
                        <span>3.5</span> <div class="ratings mr-2"><i class="fa fa-star"></i></div>
                      </div>
                   
                      <p class=" para mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.<br><br></p>
                  </div>
                  
              </div>


              <div class="row p-2 bg-white border rounded shadow">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="assets/image/z.png"></div>
                <div class="col-md-6 mt-1">
                    <h5>Sid Ahmed Babou</h5>
                    <div class="d-flex flex-row">
                      <span>3.5</span> <div class="ratings mr-2"><i class="fa fa-star"></i></div>
                    </div>
                 
                    <p class=" para mb-0">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.<br><br></p>
                </div>
                
            </div>
                
                
                </div>
            </div>
        </div>
          
           
  
 </body>