<div class="login-page">
                
      
  <div class="form">
    <h1 class="mb-4 product_name">Service Form</h1>
      <form #f="ngForm" (ngSubmit)="submitService(f.value)" class="register-form">
<div class="row">
    <div class="col col-md-6 col-sm-12 col-12 p-2">
    
      <input type="text" placeholder="Titel" [(ngModel)]="service.title" name="titel"/>
      
      
      
      <input  type="number" placeholder="Price" [(ngModel)]="service.price" name="price" />
      <input type="number" placeholder="Delivery Days "[(ngModel)]="service.deliveryDays" name="deliveryDays" />
      <textarea [(ngModel)]="service.description" name="description"></textarea>

     

     
      
    
        
    </div>
    
  
     
    
  

  

    <div class="col col-md-6 col-sm-12 col-12 p-2">
      <div class="row">
        <div class="col-2">
          <input #saveUserNameCheckBox
          id="saveUserNameCheckBox" 
          type="checkbox" 
          [checked]="saveUsername" 
          (change)="onSaveUsernameChanged(saveUserNameCheckBox.checked)"[(ngModel)]="service.hasExpress" name="hasExpress"/>
         
        </div>
        <div class="col">
          <label >
            Has Express
          </label>
        </div>
        
       
      </div>
       
     <div *ngIf="saveUsername">    
      <input  type="number" placeholder="Express price" [(ngModel)]="service.expressPrice" name="expressPrice"/>
      <input type="number" placeholder=" Express Delivery Days " [(ngModel)]="service.expressDeliveryDays" name="expressDeliveryDays"/></div>
     
      
      <select (change)="changeSuit($event)" >
        <option  value=null >None</option>
        <option *ngFor="let cat of categories" [value]="cat.id" >{{cat.name}}</option>
        
      </select>
      <select [(ngModel)]="types"  name="typeService"
        >
        <option  value=null >None</option>
        <option *ngFor="let type of types" [value]="type.id" >{{type.name}}</option>
      </select>
      </div>
      
        
     
        
        
       
      
    
       
     

      

      <button >create</button>
  
  </div>
  </form>





























</div>
</div> 
