<div class="row">

  <div class="col col-lg-6 col-md-6 col-12 py-3">
    <!-- ffff-->
    <div class="d-flex align-items-center justify-content-center ">
      <div class="center">
        
        <div class="profile">
          <div class="image">
            
         
            <img src="assets/image/o.jpg" width="180" height="200" alt="Jessica Potter">
          </div>
          
          <div class="name">Jessica Potter</div>
          <div class="job">+22234922093</div>
       
          <div class="d-flex flex-row justify-content-center">
            <span>3.5</span> <div class="ratings "><i class="fa fa-star"></i></div>
          </div>
        </div>
        
        <div class="stats">
          <div class="box">
            <span class="value">523</span>
            <span class="parameter">Posts</span>
          </div>
         
          <div class="box">
            <span class="value">146</span>
            <span class="parameter">Commands</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-lg-6 col-md-6 col-12">
    <div class="container">
      <div class="row g-1">
        <div class="col-6">
          <div > <div class="card">
               <img src="assets/image/o.jpg" alt="" style="width:100%">
               <h1 style=" font-size: 1rem;
               font-weight: 600;">Tailored Jeans</h1>
               <p class="price">$19.99</p>
             
             </div></div>
        </div>
        <div class="col-6">
          <div > <div class="card">
               <img src="assets/image/o.jpg" alt="" style="width:100%">
               <h1 style=" font-size: 1rem;
               font-weight: 600;">Tailored Jeans</h1>
               <p class="price">$19.99</p>
             
             </div></div>
        </div>
        <div class="col-6">
          <div > <div class="card">
               <img src="assets/image/o.jpg" alt="" style="width:100%">
               <h1 style=" font-size: 1rem;
               font-weight: 600;">Tailored Jeans</h1>
               <p class="price">$19.99</p>
             
             </div></div>
        </div>
        <div class="col-6">
          <div > <div class="card">
               <img src="assets/image/o.jpg" alt="" style="width:100%">
               <h1 style=" font-size: 1rem;
               font-weight: 600;">Tailored Jeans</h1>
               <p class="price">$19.99</p>
             
             </div></div>
        </div>
      </div>
    </div>
   
    <app-test_image></app-test_image>
    
  </div>
</div>