

  <div class="container-fluid px-3  px-sm-5 my-5 text-start">
    <h4 class="mb-5 font-weight-bold">What Our Client Say</h4>
<owl-carousel-o [options]="customOptions" >

  <ng-container   *ngFor="let slide of slides">
    <ng-template carouselSlide id="slide.id">
    
      <div class="card cardi border-0 py-3 px-4  mx-1 my-5" >
        <h4 class="mb-1"><a class="text-black" href="#">{{slide.titel}}</a></h4>
          
        <p class="text-gray lines">{{slide.description}}</p>
        <div class=" d-flex flex-row">
          <span class="w-100"> Delivery Dayts</span>
          <span class="text-end  d-block  font-weight-bold" > {{slide.delivery_days}}</span>

        </div>
        <div class=" d-flex flex-row mt-2">
          <span > Price</span>
          <span class="text-end w-100 d-block  font-weight-bold " >{{slide.price}}</span>

        </div>
        <div class=" d-flex flex-row mt-2">
          <span > hasexpress</span>
          <span class="text-end w-100 d-block  font-weight-bold " >{{slide.hasexpress}}</span>

        </div>
        <div class=" d-flex flex-row mt-2">
          <span class="w-100" > express price</span>
          <span class="text-end w-100 d-block  font-weight-bold " >{{slide.expressprice}}</span>

        </div>
        <div class=" d-flex flex-row mt-2">
          <span  > express deliveru days</span>
          <span class="text-end w-100 d-block  font-weight-bold " >{{slide.expressdeliverydayts}}</span>

        </div>
        
        <div class="card-body">
         <button class="button">Continu({{slide.price}})</button>
        </div>
      </div>
      
      
    
    
    
    </ng-template> 
     
    
  </ng-container>

</owl-carousel-o>
  </div>



 